


.contacts-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;

  .contacts-background {
    margin-top: 30px;
    background: rgba(31, 31, 31, 0.75);
    padding: 50px 30px;

    .contacts-title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-align: center;

      color: #FFFFFF;
    }


    .principal-contacts {
      display: flex;
      justify-content: space-evenly;
      flex-flow: wrap;


      .name, .phone {
        margin-top: 30px;

        label {
          padding-bottom: 10px;
          color: white;
          font-size: 20px;


          span {
            color: orangered;
          }
        }

        input {
          width: 100%;
          height: 60px;
          padding-left: 30px;
          background: whitesmoke;
          box-sizing: border-box;
          font-size: 20px;
          border-radius: 20px;

          &::placeholder {
            margin-left: 10px;
            font-size: 20px;

          }
        }

      }
    }


    .mail {
      width: 100%;


      .mail-label {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        label {
          align-self: flex-start;
          margin-left: auto;
          margin-right: auto;
          font-size: 20px;
          color: white;
          padding-bottom: 10px;
        }
      }

      input {
        padding-left: 30px;
        height: 60px;
        background: whitesmoke;
        box-sizing: border-box;
        border-radius: 20px;
        font-size: 20px;


        &::placeholder {
          margin-left: 10px;
          font-size: 20px;

        }
      }
    }

    .message {
      width: 100%;

      .message-label {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        label {

          font-size: 20px;
          color: white;
          padding-bottom: 10px;

          align-self: flex-start;
          margin-left: auto;
          margin-right: auto;

          span {
            color: orangered;
          }
        }
      }

      textarea {
        height: 277px;
        padding: 30px;
        background: whitesmoke;
        box-sizing: border-box;
        border-radius: 20px;
        font-size: 20px;


        &::placeholder {
          margin-left: 10px;
          margin-top: 20px;
          font-size: 20px;

        }
      }
    }


    .send {
      margin-top: 30px;

      input {
        width: 176px;
        height: 60px;
        border-radius: 36px;
        color: white;
        border: none;


      }
    }
  }
}

.block-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #1F1F1F;
}

.title-line {
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-thumb {
  background: #101426;
  border-radius: 10px;
}


.show_toast {
  min-width: 200px;
  height: auto;
  min-height: 50px;
  position: fixed;
  right: 20px;
  z-index: 111111111111111;
  top: 20px;
  cursor: pointer;
  transition: .7s ease-in;
  background-color: #35bc7a;
  color: #F0F0F0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.phone_number, .location {


  .company_phone, .company-location {
    align-items: center;
    flex-flow: wrap;
    width: auto;

    svg {
      margin-top: 10px;
      margin-right: 20px;
    }
  }

  .company_number, .location_content {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: rgba(31, 31, 31, 0.79);
  }
}


.map {
  width: 100%;
  margin-top: 50px;
  border-radius: 30px;
}


//noinspection ALL
::ng-deep {
  .leaflet-touch .leaflet-bar a:first-child {
    color: black;
  }

  .leaflet-touch .leaflet-bar a:last-child {
    color: black;
  }
}

@media (min-width: 1440px) {
  .principal-contacts {


    .name, .phone {
      width: 47%;
      margin-left: 15px;
      margin-right: 15px;


    }
  }


  .mail {


    .mail-label {


      label {
        width: 70%;
      }
    }

    input {
      width: 70%;
    }
  }

  .message {

    .message-label {


      label {

        width: 85%;

      }
    }

    textarea {
      width: 85%;
    }
  }


  .send {
    margin-left: 30px;
  }
}


@media (max-width: 1440px) {
  .principal-contacts {


    .name, .phone {
      width: 100%;


    }
  }


  .mail {


    .mail-label {


      label {
        width: 100%;
      }
    }

    input {
      width: 100%;
    }
  }

  .message {

    .message-label {


      label {

        width: 100%;

      }
    }

    textarea {
      width: 100%;
    }
  }

}


@media (min-width: 1025px) {
  .contacts-title {
    font-size: 30px;
  }

  .company_phone, .company-location {
    margin-top: 40px;
  }

  .company_number, .location_content {
    font-size: 27px;
  }
}


@media (max-width: 1025px) {
  .block-title {
    font-size: 24px;
  }

  .contacts-title {
    font-size: 26px;
  }

  .company_phone, .company-location {
    margin-top: 30px;
  }

  .company_number, .location_content {
    font-size: 22px;
  }

  svg {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 600px) {
  .company_phone, .company-location {
    display: flex;

  }

  .map {
    height: 500px;
  }
}

@media (max-width: 600px) {
  .company_phone, .company-location {
    text-align: center;
  }

  .map {
    height: 350px;
  }
}

