.form-group {
  display: grid;
}

.footer-buttons {
  margin-top: 20px;
}

.dialog {
  width: 90vw;
  max-width: 600px;
  overflow: scroll;
  max-height: 80vh;
}

label {
  margin-bottom: 1rem;
}

.button {
  margin: 10px 10px 10px 0;
}

.smart-table {
  margin-top: 20px;
}

.organization {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quill-component {
  max-width: 1100px;
}


.organization-item {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  justify-content: space-between;
}

textarea {
  height: 150px;
}
