<div class="home-navbar" *ngIf="company && company !== []"
     [ngStyle]="{'background-image': 'url(' + imageUrl +  company.mainProductImage.path + ')', 'background-attachment': height<=contentHeight? 'fixed' : 'absolute'}">
  <app-navbar [path]="''" [home]="true" [height]="20"></app-navbar>

  <div class="navbar-body">
    <div class="nav-slogan">
      {{company.slogan}}
    </div>
    <div class="nav-button">
      <button [routerLink]="'/contacts'" [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}">{{home_navbar.visit_us}}</button>
    </div>

    <div class="nav-advantages" *ngIf="advantages !== [] && advantages">
      <div class="navbar-advantage"
           *ngFor="let item of advantages">
        <div class="image-advantage">
          <img *ngIf="item.mainProductImage.path" [src]="item.mainProductImage.path | imageUrl">
          <img *ngIf="!item.mainProductImage.path" src="../../../../assets/default-image.png">
        </div>

        <div class="title-advantage">
          {{item.title}}
        </div>
        <div class="description-advantage">
          {{item.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="nav-cover" #navbar></div>
</div>

