.ngx-image-gallery {
  z-index: 111111111111;
}

.services {
  position: relative;
  background: url('../../../assets/background-image.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 100vh;
  color: #fff;
  height: auto;
  width: 100%;
  padding-bottom: 160px;


  .services-body {
    padding-top: 240px;
    padding-bottom: 120px;

    .services-title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      text-align: center;

      color: #FFFFFF;
      padding-bottom: 10px;
    }

    .services-description {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 33px;
      text-align: center;

      margin-top: 20px;
      color: #FFFFFF;
    }


    .social-networks {
      display: flex;
      flex-flow: wrap;
      margin-top: 40px;
      margin-left: auto;
      justify-content: center;
      margin-right: auto;


      .whatsapp, .facebook, .instagram, .vk {
        opacity: .75;
        border-radius: 5px;
        padding: 5px;
        margin-right: 20px;
        margin-top: 20px;
      }
    }
  }
}


.title-line {
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


.services-blocks {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-evenly;

  .service-content {
    margin-top: 60px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;

    .service-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 230px;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;


      &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);

      }


      .service-background {
        display: flex;
        padding: 25px;
        cursor: pointer;
        width: 100%;
        background: rgba(31, 31, 31, .65);
        align-content: center;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;

        &:hover {
          background: none;
          transition: .5s ease-in;

          .service-title {
            display: none;

          }

          .service-description {
            display: none;
          }
        }


        .service-title {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          color: #FFFFFF;
        }

        .service-description {
          margin-top: 10px;
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          color: #FFFFFF;

        }
      }
    }
  }
}


.show_gallery {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  display: flex;

  svg {
    position: relative;
  }

  &:hover {
    svg {
      transition: transform .5s ease-in;
      transform: rotate(360deg);
    }
  }
}


@media (min-width: 1600px) {

  .services-body {
    max-width: 1500px;
    margin: auto;
  }
}


@media (min-width: 1025px) and (max-width: 1600px) {
  .services-body {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (min-width: 1025px) {

  .show_gallery {
    bottom: 0;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1025px) {
  .show_gallery {
    bottom: 25%;
    width: 75px;
    height: 75px;

    svg {
      margin: auto;
      width: 35px;
      height: 35px;
    }
  }
}
@media (max-width: 1025px) and (min-width: 820px) {
  .services-body {
    margin-left: 100px;
    margin-right: 100px;
  }

}


@media (min-width: 991px) {
  .service-content {
    width: 330px;

    .service-title {
      font-size: 22px;

    }

    .service-description {
      font-size: 16px;

    }
  }

  .service-background {
    min-height: 230px;

  }
}

@media (max-width: 991px) {
  .service-content {
    width: 450px;

    .service-title {
      font-size: 28px;

    }

    .service-description {
      text-align: center;
      font-size: 20px;

    }
  }
}

@media (max-width: 820px) and (min-width: 600px) {
  .services-body {
    margin-left: 50px;
    margin-right: 50px;
  }

}


@media (min-width: 600px) and (max-width: 991px) {
  .service-background {
    min-height: 350px;

  }
}

@media (max-width: 600px) {
  .service-background {
    min-height: 300px;
  }

  .services-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}




