<div class="company">
  <nb-card>
    <nb-card-header>
      Company
    </nb-card-header>
    <nb-card-body>
      <button *ngIf="add_company" nbButton status="primary" (click)="open(dialog)">Add company</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [delete]="false" [edit]="true" [data]="response" [toast]="'Company'"
                     [src]="'company'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add company</nb-card-header>
    <nb-card-body class="form-group">
      <div class="form-group">
        <label>Name</label>
        <label>
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="object.name">
        </label>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <label>
          <input type="tel" class="form-control" placeholder="Phone" [(ngModel)]="object.phone">
        </label>
      </div>
      <div class="form-group">
        <label>Slug</label>
        <label>
          <input type="text" class="form-control" placeholder="Slug" [(ngModel)]="object.slug">
        </label>
      </div>
      <div class="form-group">
        <label>Mail</label>
        <label>
          <input type="text" class="form-control" placeholder="Mail" [(ngModel)]="object.mail">
        </label>
      </div>
      <div class="form-group">
        <label>Coordinates: <span>Latitude, longitude, address</span></label>
        <textarea class="form-control" placeholder="Example: Latitude, longitude, address"
                  [(ngModel)]="object.coordinates"></textarea>
      </div>
      <div class="form-group">
        <label>Social networks description</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Social networks description" [(ngModel)]="object.networksDescription"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Whatsapp</label>
        <label>
          <input type="text" class="form-control" placeholder="Whatsapp" [(ngModel)]="object.whatsapp">
        </label>
      </div>
      <div class="form-group">
        <label>Whatsapp Description</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Whatsapp Description" [(ngModel)]="object.whatsappDescription"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>VK</label>
        <label>
          <input type="text" class="form-control" placeholder="VK" [(ngModel)]="object.vk">
        </label>
      </div>
      <div class="form-group">
        <label>Working hours</label>
        <label>
          <input type="text" class="form-control" placeholder="Working hours" [(ngModel)]="object.workingHours">
        </label>
      </div>
      <div class="form-group">
        <label>Instagram</label>
        <label>
          <input type="text" class="form-control" placeholder="Instagram" [(ngModel)]="object.instagram">
        </label>
      </div>
      <div class="form-group">
        <label>Facebook</label>
        <label>
          <input type="text" class="form-control" placeholder="Facebook" [(ngModel)]="object.facebook">
        </label>
      </div>
      <div class="form-group">
        <label>Company Slogan</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Company Slogan"
                    [(ngModel)]="object.slogan"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Service page mini Description</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Service page mini Description" [(ngModel)]="object.servicePageDescription"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Blog page mini Description</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Blog page mini Description" [(ngModel)]="object.blogPageDescription"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Photo albums page mini Description</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Photo albums page mini Description" [(ngModel)]="object.photoAlbumsPageDescription"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Principal Color</label>
        <label>
          <input type="color" class="form-control" [(ngModel)]="object.principalColor">
        </label>
      </div>
      <div class="form-group">
        <label>Secondary Color</label>
        <label>
          <input type="color" class="form-control" [(ngModel)]="object.secondaryColor">
        </label>
      </div>
      <div class="form-group">
        <label>Background company image</label>
        <image-upload [uploadedFiles]="editImage" (removed)="removeImage()" [max]="1" [url]="imageUpload"  [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event, false, false)"></image-upload>
      </div>

      <div class="form-group">
        <label>Background contacts image</label>
        <image-upload [uploadedFiles]="editImageContacts" (removed)="removeImageContacts()" [max]="1" [url]="imageUpload"  [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event, false, true)"></image-upload>
      </div>

      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>


    </nb-card-body>
  </nb-card>

</ng-template>
