<div class="user">
  <nb-card>
    <nb-card-header>
      Users
    </nb-card-header>
    <nb-card-body>
      <button nbButton status="primary" (click)="open(dialog)">Add user</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [delete]="true" [edit]="false" [data]="response"
                     [toast]="'User'"
                     [src]="'users'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <ul class="pagination" *ngIf="totalDocs>10">
        <li *ngIf="page===1" [ngStyle]="{'cursor': 'not-allowed'}" class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <a *ngIf="page!==1" class="page-link" aria-label="Previous" (click)="prevPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        <div class="pages" *ngFor="let pag of totalPages">
          <li *ngIf="page === pag" class="page-item active">
            <a class="page-link">{{pag}} <span class="sr-only">(current)</span></a>
          </li>

          <li *ngIf="page !== pag" class="page-item" (click)="getPage(pag)"><a class="page-link">{{pag}}</a></li>
        </div>
        <li *ngIf="page===totalPages.length" [ngStyle]="{'cursor': 'not-allowed'}" class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <a *ngIf="page!==totalPages.length" class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </ul>
    </nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add user</nb-card-header>
    <nb-card-body class="form-group">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>First Name</label>
          <label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="First name"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          </label>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">The first name required</div>
            <div *ngIf="f.firstName.errors.minlength">The first name must be at least 2 characters long</div>
            <div *ngIf="f.firstName.errors.maxlength">The first name must be at most 50 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last name"
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          </label>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last name required</div>
            <div *ngIf="f.lastName.errors.minlength">Last name must be at least 2 characters long</div>
            <div *ngIf="f.lastName.errors.maxlength"> Last name must be at most 50 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" formControlName="email" class="form-control" placeholder="email@adress.com"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email required</div>
            <div *ngIf="f.email.errors.email">Email must be valid</div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <label>
            <input type="password" formControlName="password" class="form-control" placeholder="password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          </label>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password required</div>
            <div *ngIf="f.password.errors.minlength">The password must be at least 6 characters long</div>
          </div>
        </div>
        <div>
          <div class="footer-buttons">
            <button nbButton status="primary" class="button">Add</button>
            <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
          </div>
        </div>
      </form>


    </nb-card-body>
  </nb-card>

</ng-template>
