<div class="goals">
  <nb-card>
    <nb-card-header>
      Company goals
    </nb-card-header>
    <nb-card-body>
      <button nbButton *ngIf="add_goals" status="primary" (click)="open(dialog)">Add goals</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [delete]="false" [edit]="true" [data]="response"
                     [toast]="'Goals'"
                     [src]="'goals'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add goals</nb-card-header>
    <nb-card-body class="form-group">
      <div class="form-group">
        <label>Title</label>
        <label>
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="object.title">
        </label>
      </div>

      <div class="add-goals" *ngFor="let item of goals; let i = index">
        <div class="goals-blocks">
          <div class="goals-item">
            <h5 class="goals">Goals {{i + 1}}</h5>
            <button nbButton status="danger" (click)="deleteGoal(i)">Delete</button>
          </div>

          <div class="form-group">
            <label>Goal title</label>
            <label>
              <input type="text" class="form-control" placeholder="Goal title" [(ngModel)]="item.title">
            </label>
          </div>
          <div class="form-group">
            <label>Goal description</label>
            <label>
              <textarea type="text" class="form-control" placeholder="Goal description"
                        [(ngModel)]="item.description"></textarea>
            </label>
          </div>
        </div>
      </div>
      <button nbButton status="success" (click)="addGoal()">Add goal</button>


      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>


    </nb-card-body>
  </nb-card>

</ng-template>
