<div class="photo-albums" *ngIf="photo_albums && photo_albums !== []">
  <app-navbar [home]="false" [height]="20" [path]="'/photo-albums'"></app-navbar>

  <div class="photo-albums-body">
    <div class="body-line"
         [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

    <div class="body-content">
      <div class="line-contents">
        <div class="line-content"></div>
      </div>


      <div class="photo-albums-title">
        {{photo_albums_items.title}}
      </div>

      <div class="title-line" *ngIf="company.photoAlbumsPageDescription !== ''"
           [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
      <div class="photo-albums-mini-description">
        {{company.photoAlbumsPageDescription}}
      </div>

      <div class="albums">

        <div class="album"
             *ngFor="let item of photo_albums">

          <div class="album-image" (mouseover)="hover_image = true; album = item"
               (mouseleave)="hover_image = false"
               [ngStyle]="{'background-image': item.albums[0] && item.albums[0].mainProductImage.path !== null ?'url(' + imageUrl +  item.albums[0].mainProductImage.path + ')' : 'url(\'../../../assets/default-image.png\')'}">

            <a [routerLink]="'/photo-albums/' + item.id">

              <div class="album-background">
                <div
                  class="album-title">{{item.title.length >= 20 ? item.title.substring(0, item.title.indexOf(" ", 20) !== -1 ? item.title.indexOf(" ", 20) : 20) + '...' : item.title}}</div>
                <div class="album-date">{{item.createdAt | formatDate}}</div>
              </div>

            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <app-go-to-top></app-go-to-top>
  <app-spinner></app-spinner>

</div>
