<div class="blog-page" *ngIf="blog && blog !== []">
  <app-navbar [path]="'/blog'" [home]="false" [height]="20"></app-navbar>

  <div class="blog-page-body">
    <div class="body-line"
         [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

    <div class="body-content">
      <div class="line-contents">
        <div class="line-content"></div>
      </div>

      <div class="blog-page-title">
        {{blog.title}}
      </div>

      <div class="title-line" *ngIf="blog.title !== ''"
           [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
      <div class="blog-page-mini-description">
        {{blog.miniDescription}}
      </div>

      <div class="blog-page-description" *ngIf="blog.description !== ''" [innerHTML]="blog.description | safeHtml"></div>

    </div>



  </div>



  <app-footer></app-footer>
  <app-go-to-top></app-go-to-top>
  <app-spinner></app-spinner>
</div>
