
.blog {
  position: relative;
  background: url('../../../assets/background-image.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 100vh;
  color: #fff;
  height: auto;
  width: 100%;
  padding-bottom: 160px;


  .blog-body {
    padding-top: 240px;
    padding-bottom: 120px;

    .blog-title {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      text-align: center;

      color: #FFFFFF;
      padding-bottom: 10px;
    }

    .blog-description {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 33px;
      text-align: center;

      margin-top: 20px;
      color: #FFFFFF;
    }


    .social-networks {
      display: flex;
      flex-flow: wrap;
      margin-top: 40px;
      margin-left: auto;
      justify-content: center;
      margin-right: auto;


      .whatsapp, .facebook, .instagram, .vk {
        opacity: .75;
        border-radius: 5px;
        padding: 5px;
        margin-right: 20px;
        margin-top: 20px;
      }
    }
  }
}


.title-line {
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}




@media (min-width: 1600px) {

  .blog-body {
    max-width: 1500px;
    margin: auto;
  }
}


@media (min-width: 1025px) and (max-width: 1600px) {
  .blog-body {
    margin-left: 120px;
    margin-right: 120px;
  }
}



@media (max-width: 1025px) and (min-width: 820px) {
  .blog-body {
    margin-left: 100px;
    margin-right: 100px;
  }

}



@media (max-width: 820px) and (min-width: 600px) {
  .blog-body {
    margin-left: 50px;
    margin-right: 50px;
  }

}



@media (max-width: 600px) {
  .blog-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}


