.service-page {
  position: relative;
  background: url('../../../assets/background-image.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 500px;
  min-height: 100vh;
  color: #fff;
  height: auto;
  width: 100%;
  padding-bottom: 160px;


  .service-page-body {
    padding-top: 220px;
    height: auto;

    img {
      margin: 20px;
      max-width: 80%;
    }

    a {
      color: #007DF0;
      cursor: pointer;
      text-decoration: underline;
    }

    .body-line {
      width: 100%;
      height: 10px;
    }

    .body-content {
      width: 100%;
      background-color: whitesmoke;
      height: auto;
      padding-left: 32px;
      padding-bottom: 140px;
      padding-right: 32px;

      .line-contents {
        width: 100%;
        padding-top: 46px;
        padding-bottom: 46px;

        .line-content {
          width: 100%;
          height: 11px;
          background: rgba(196, 196, 196, 0.8);

        }
      }

      .service-page-title {
        width: 75%;
        margin: auto;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
        color: rgba(31, 31, 31, 0.79);;
        padding-bottom: 10px;
      }


      .service-page-mini-description {
        font-family: Roboto, sans-serif;
        margin: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        padding-top: 20px;

        color: rgba(31, 31, 31, 0.79);
      }

      .service-page-description {
        margin-top: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        color: rgba(31, 31, 31, 0.79);

      }
    }

  }
}


.title-line {
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}


//Quill editor styles

p, ol, ul, pre, blockquote, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

.ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

.ql-size-small {
  font-size: 0.75em;
}

.ql-size-large {
  font-size: 1.5em;
}

.ql-size-huge {
  font-size: 2.5em;
}

.ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}

.ql-align-center {
  text-align: center;
}

.ql-align-justify {
  text-align: justify;
}

.ql-align-right {
  text-align: right;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
}

code, pre {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 6px 10px;
}

ul > li[data-checked=true]::before {
  content: '\2611';
}

ul > li[data-checked=false]::before {
  content: '\2610';
}


ol {
  counter-reset: mylist
}

/* ql indent */
.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}

.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}

.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}

.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}

.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}

.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}

.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}

.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}

.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}

.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}

.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}

.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}

.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}

.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}

.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}

.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}

.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}

.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}

/* video */
.ql-video {
  display: block;
  max-width: 100%;
}

.ql-video.ql-align-center {
  margin: 0 auto;
}

.ql-video.ql-align-right {
  margin: 0 0 0 auto;
}


@media (min-width: 1600px) {

  .service-page-body {
    max-width: 1500px;
    margin: auto;
  }
}


@media (min-width: 1025px) and (max-width: 1600px) {
  .service-page-body {
    margin-left: 120px;
    margin-right: 120px;
  }
}


@media (max-width: 1025px) and (min-width: 820px) {
  .service-page-body {
    margin-left: 100px;
    margin-right: 100px;
  }

}


@media (max-width: 820px) and (min-width: 600px) {
  .service-page-body {
    margin-left: 50px;
    margin-right: 50px;
  }

}


@media (max-width: 600px) {
  .service-page-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}



