<div class="service-page" *ngIf="service && service !== []">
  <app-navbar [path]="'/services'" [home]="false" [height]="20"></app-navbar>

  <div class="service-page-body">
    <div class="body-line"
         [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>

    <div class="body-content">
      <div class="line-contents">
        <div class="line-content"></div>
      </div>

      <div class="service-page-title">
        {{service.title}}
      </div>

      <div class="title-line" *ngIf="service.title !== ''"
           [ngStyle]="{'background-color': company.principalColor ? company.principalColor : '#007DF0'}"></div>
      <div class="service-page-mini-description">
        {{service.miniDescription}}
      </div>

      <div class="service-page-description" *ngIf="service.description !== ''" [innerHTML]="service.description | safeHtml"></div>

    </div>



  </div>



  <app-footer></app-footer>
  <app-go-to-top></app-go-to-top>
  <app-spinner></app-spinner>
</div>
