@keyframes fadeInUp {
  from {
    transform: translate3d(0, 90px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.top-button {
  animation: fadeInUp ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: fixed;
  bottom: 80px;
  text-align: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 #000;
  cursor: pointer;
  z-index: 22222;
  justify-content: center;
  align-items: center;


  img {
    transform: rotate(
        90deg
    );
    position: relative;
  }
}


@media (min-width: 767px) {
  .top-button {
    left: 30px;

  }
}
@media (max-width: 767px) and (min-width: 450px){
  .top-button {
    left: 20px;

  }
}
@media (max-width: 450px) {
  .top-button {
    left: 10px;

  }
}

