.ngx-image-gallery {
  z-index: 111111111111;
}

.blogs {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-evenly;

  .blog-content {
    margin-top: 60px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;

    .blog-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;


      &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);

      }


      .blog-background {
        display: flex;
        padding: 25px;
        cursor: pointer;
        width: 100%;
        background: rgba(31, 31, 31, 0.65);
        align-content: center;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;

        &:hover {
          background: none;
          transition: .5s ease-in;

          .blog-title {
            display: none;

          }

          .blog-description {
            display: none;
          }
        }


        .blog-title {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          color: #FFFFFF;
        }

        .blog-description {
          margin-top: 10px;

          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;

          color: #FFFFFF;

        }
      }
    }
  }
}

.show_gallery {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;

  svg {
    position: relative;
  }

  &:hover {
    svg {
      transition: transform .5s ease-in;
      transform: rotate(360deg);
    }
  }
}

@media (min-width: 1025px) {
  .show_gallery {
    bottom: 0;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1025px) {
  .show_gallery {
    bottom: 25%;
    width: 75px;
    height: 75px;

    svg {
      margin: auto;
      width: 35px;
      height: 35px;
    }
  }
}

@media (min-width: 991px) {
  .blog-content {
    width: 330px;

    .blog-title {
      font-size: 22px;

    }

    .blog-description {
      font-size: 16px;

    }
  }

  .blog-background {
    min-height: 230px;

  }
}

@media (max-width: 991px) {
  .blog-content {
    width: 450px;

    .blog-title {
      font-size: 28px;

    }

    .blog-description {
      text-align: center;
      font-size: 20px;

    }
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .blog-background {
    min-height: 350px;

  }
}

@media (max-width: 600px) {
  .blog-background {
    min-height: 300px;
  }
}

