<div class="company-advantages">
  <nb-card>
    <nb-card-header>
      Company advantages
    </nb-card-header>
    <nb-card-body>
      <button nbButton status="primary" (click)="open(dialog)">Add advantage</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [page]="page" [delete]="true" [edit]="true" [data]="response" [toast]="'Advantage'"
                     [src]="'company-advantages'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <ul class="pagination" *ngIf="totalDocs>10">
        <li *ngIf="page===1" [ngStyle]="{'cursor': 'not-allowed'}" class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <a *ngIf="page!==1" class="page-link" aria-label="Previous" (click)="prevPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        <div class="pages" *ngFor="let pag of totalPages">
          <li *ngIf="page === pag" class="page-item active">
            <a class="page-link">{{pag}} <span class="sr-only">(current)</span></a>
          </li>

          <li *ngIf="page !== pag" class="page-item" (click)="getPage(pag)"><a class="page-link">{{pag}}</a></li>
        </div>
        <li *ngIf="page===totalPages.length" [ngStyle]="{'cursor': 'not-allowed'}" class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <a *ngIf="page!==totalPages.length" class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </ul>
    </nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add advantage</nb-card-header>
    <nb-card-body class="form-group">
      <div class="form-group">
        <label>Title</label>
        <label>
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="object.title">
        </label>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea type="text" class="form-control" placeholder="Description" [(ngModel)]="object.description"></textarea>
      </div>
      <div class="form-group">
        <label>Company advantage image</label>
        <image-upload [uploadedFiles]="editImage" (removed)="removeImage()" [max]="1" [url]="imageUpload"  [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event)"></image-upload>
      </div>

      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>


    </nb-card-body>
  </nb-card>

</ng-template>
