
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


section {
  padding: 60px 0;
  min-height: 100vh;
}

.footer {
  padding: 30px 60px 35px;
  background-color: #030a16;

}

.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.footer .widget1 p {
  font-size: 18px;
  color: whitesmoke;
}

.footer .socialLinks {
  margin-top: 28px;
}

.socialLinks {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-around;


}

.whatsapp, .facebook, .instagram, .vk {
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-top: 20px;
}

footer .social_networks {
  max-width: 200px;
}


.footer h5 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #fff;
  font-size: 21px;
}

.footer .widget2 .media p {
  font-size: 18px;
  color: whitesmoke;
}


.footer .widget2 .media {
  margin-bottom: 20px;
}

.footer .widget3 ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, .6);;
  text-transform: capitalize;
  margin-bottom: 13px;
  display: block;
}


.footer .widget3 h5 {
  font-weight: 600;
  color: #fff;
  font-size: 21px;
}

.footer-address, .footer-mail, .footer-working, .footer-phone {
  font-size: 18px;
  margin-bottom: 20px;
}

.copyRightArea {
  margin-top: 100px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: black;
  padding: 25px 0 28px;
}

.copyRightArea p {
  color: rgba(255, 255, 255, 0.6);
}


.line-footer {
  height: 10px;

}

.widget1, .widget2 {
  p {
    margin-top: 30px;
  }
}

.widget3_paragraph {
  margin-top: 30px;
}

.widget1, .widget2, .widget3 {
  width: 100%;
  margin: 30px 20px;

}


@media (min-width: 1600px) {
  .footer, .line-footer {
    max-width: 1500px;
    margin: auto;
  }


}

.widget1, .widget2, .widget3 {
  width: 100%;
  max-width: 300px;
  margin-top: 50px;
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .footer, .line-footer {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (max-width: 1400px) {
  .footer .widget1 p {
    text-align: center;
  }

  footer .social_networks {
    margin: auto;
  }

  .footer h5 {
    text-align: center;
  }

  .footer .widget2 .media p {
    text-align: center;
  }

  .widget3_paragraph {
    text-align: center;
  }

  .footer-title-line {
    margin: auto;

  }

}

@media (min-width: 1025px) {


  .widget1, .widget2, .widget3 {
    max-width: 300px;
  }
  .copyRightArea p {
    font-size: 20px;
  }

}

@media (max-width: 1025px) {

  .widget1, .widget2, .widget3 {
    max-width: 450px;
  }


}

@media (max-width: 1025px) and (min-width: 820px) {
  .footer, .line-footer {
    margin-left: 100px;
    margin-right: 100px;
  }

  .copyRightArea p {
    font-size: 18px;
  }
}

@media (max-width: 820px) and (min-width: 600px){
  .footer, .line-footer {
    margin-left: 50px;
    margin-right: 50px;
  }
  .copyRightArea p {
    font-size: 16px;
  }
}

@media (max-width: 600px){
  .footer, .line-footer {
    margin-left: 20px;
    margin-right: 20px;
  }

  .copyRightArea p {
    font-size: 14px;
  }
}


.footer-title-line {
  width: 100px;
  height: 5px;
}


