<div class="about-us">
  <nb-card>
    <nb-card-header>
      About us
    </nb-card-header>
    <nb-card-body>
      <button *ngIf="add_info" nbButton status="primary" (click)="open(dialog)">Add information</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [delete]="false" [edit]="true" [data]="response"
                     [toast]="'Information'"
                     [src]="'about-us'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Add information</nb-card-header>
    <nb-card-body class="form-group">
      <div class="form-group">
        <label>Mini Description</label>
        <label>
          <textarea type="text" class="form-control" placeholder="Mini Description" [(ngModel)]="object.miniDescription"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label>Description</label>
        <app-quill-component class="quill-component" [placeholder]="'Description'"
                             [(ngModel)]="object.description"></app-quill-component>
      </div>

      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>

    </nb-card-body>
  </nb-card>

</ng-template>
