<div class="messages">
  <nb-card>
    <nb-card-header>
      Messages
    </nb-card-header>
    <nb-card-body>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [page]="page" [delete]="true" [edit]="true"
                     [data]="response" [toast]="'Message'"
                     [src]="'messages'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <ul class="pagination" *ngIf="totalDocs>10">
        <li *ngIf="page===1" [ngStyle]="{'cursor': 'not-allowed'}" class="page-item disabled">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <a *ngIf="page!==1" class="page-link" aria-label="Previous" (click)="prevPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
        <div class="pages" *ngFor="let pag of totalPages">
          <li *ngIf="page === pag" class="page-item active">
            <a class="page-link">{{pag}} <span class="sr-only">(current)</span></a>
          </li>

          <li *ngIf="page !== pag" class="page-item" (click)="getPage(pag)"><a class="page-link">{{pag}}</a></li>
        </div>
        <li *ngIf="page===totalPages.length" [ngStyle]="{'cursor': 'not-allowed'}" class="page-item disabled">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <a *ngIf="page!==totalPages.length" class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </ul>
    </nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">
    <nb-card-header id="header">Message details</nb-card-header>
    <nb-card-body class="form-group">
      <div class="message-group">
        <div class="item">Creation date</div>
        <div class="content">
          {{object.createdAt | date: 'medium'}}
        </div>
      </div>
      <div class="message-group">
        <div class="item">Name</div>
        <div class="content">
          {{object.name}}
        </div>
      </div>
      <div class="message-group">
        <div class="item">Phone</div>
        <a [href]="'tel:' + object.phone">

          <div class="content">
            {{object.phone}}
          </div>
        </a>

      </div>
      <div class="message-group">

        <div class="item">E-mail</div>
        <a [href]="'mailto:' + object.mail">

          <div class="content">
            {{object.mail}}
          </div>

        </a>
      </div>
      <div class="message-group">
        <div class="item">Message</div>
        <div class="content">
          {{object.message}}
        </div>
      </div>


      <div class="footer-buttons">
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>


    </nb-card-body>
  </nb-card>

</ng-template>
